<div class="footer bg-black p-5">
    <div class="container">
        <div class="row text-white text-center">
            <div class="col-lg-4 col-sm-12">
                <i class="fa-solid fa-map-pin p-3" style="font-size: 40px;"></i>
                <h5 class="fw-bold">WHERE TO FIND ME</h5>
                <span>Karabuk Merkez Turkiye</span>
            </div>

            <div class="col-lg-4 col-sm-12">
                <i class="fa-solid fa-envelope p-3" style="font-size: 40px;"></i>
                <h5 class="fw-bold">EMAIL ME AT</h5>
                <span>Hasamuddin.afz@gmail.com</span>
                <br>
                <span>info@hasamuddin.com.tr</span>
            </div>

            <div class="col-lg-4 col-sm-12">
                <i class="fa-solid fa-phone p-3" style="font-size: 40px;"></i>
                <h5 class="fw-bold">CALL ME AT</h5>
                <span>+90 541 565 45 60</span>
            </div>
        </div>

        <hr class="text-white m-5">

        <div class="row social text-white text-center">
            <div class="col-lg-6 col-md-12 text-lg-start">
                <span><i class="fa-solid fa-copyright"></i>  2023 All Rights Reserved</span>
            </div>
            <div class="col-lg-6 col-md-12 text-lg-end fw-bold fs-3">
                <a class="p-2" href="https://www.facebook.com/hasamuddin.afzali.98"><i class="fa-brands fa-facebook"></i></a>
                <a class="p-2" href="https://www.instagram.com/hasam.afzali/"><i class="fa-brands fa-instagram"></i></a>
                <a class="p-2" href="https://github.com/Hasamddin-Afzali"><i class="fa-brands fa-github"></i></a>
                <a class="p-2" href="https://www.linkedin.com/in/hasamuddin-afzali-7224b61b3/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>