<div class="contact">
    <div class="contact-content py-5">
        <div class="title text-center">
            <h1>Contact</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <h1 class="text-danger fw-bold">Hasamuddin Afzali</h1><hr>
            <span class="text-secondary">Contact Information</span>

            <div class="contact-info py-3">
                <p><span class="fa-solid fa-envelope"></span> Hasamudidn.afz@gmail.com</p>
            <p><span class="fa-solid fa-envelopes-bulk"></span> info@hasamuddin.com.tr</p>
            <p><span class="fa-brands fa-instagram"></span> Hasam.afzali</p>
            <p><span class="fa-solid fa-globe"></span> Hasamudidn.com.tr</p>
            <p><span class="fa-solid fa-phone"></span> +90541 565 45 60</p>
            </div>
        </div>
        <div class="col-lg-6 rounded">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d48027.37091269656!2d32.609462409103955!3d41.206280784078565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x40835335ca55f4a3%3A0x58c149eab8f0a954!2zS2FyYWLDvGssIEthcmFiw7xrIE1lcmtlei9LYXJhYsO8aw!3m2!1d41.19562!2d32.622654!5e0!3m2!1sen!2str!4v1690661305532!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>