<div class="header">
    <div class="header-content">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-6 col-md-4 text-center">
                    <h1>I'm Hasamuddin Afzali</h1>
                    <span class="fs-2 text-secondary">| Fullstack Developer | Graphic Designer |</span>
                    <hr>
                    <a href="/assets/img/cv.pdf" download class="btn btn-custom">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="resume bg-light">
    <div class="container">
        <div class="row py-5 d-flex justify-content-center">
            <h3 class="text-center text-danger fw-bold">RESUME</h3>
            <h1 class="text-center fw-bold">More of my credentials.</h1>
            <h4 class="text-danger text-center fw-bold my-5">Education</h4>
            <div class="col-lg-8">
                <div class="row my-2">
                    <div class="col-lg-4 text-lg-center">
                        <h3>Bachelor Degree</h3>
                        <span class="fw-bold text-secondary py-1">August 2022 - Present</span>
                    </div>
                    <div class="col-lg-1">
                        <i class="fa-solid fa-school fs-3 text-danger py-3"></i>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="fw-bold">Karabuk University</h4>
                        <hr>
                        <p class="text-secondary">Karabük University is a public university in Karabük, Turkey. It was founded in 2007 as one of the 17 new universities of that time in Turkey.</p>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-lg-4 text-lg-center">
                        <h3>Associate Degree</h3>
                        <span class="fw-bold text-secondary py-1">July 2019 - July 2021</span>
                    </div>
                    <div class="col-lg-1">
                        <i class="fa-solid fa-graduation-cap fs-3 py-3 text-danger"></i>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="fw-bold">Karabuk University</h4>
                        <hr>
                        <p class="text-secondary">Karabük University is a public university in Karabük, Turkey. It was founded in 2007 as one of the 17 new universities of that time in Turkey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service">
    <div class="service-content py-5">
        <div class="container">
            <div class="service-title text-center">
                <h4 class="fw-bold text-danger py-5">SERVICES</h4>
                <h2>What Can I Do For You ?</h2>
            </div>
            <div class="row py-5 d-flex justify-content-around">
                <div class="col-lg-3 text-center">
                    <span><i class="fa-solid fa-globe fs-1 text-danger my-4"></i></span>
                    <h3 class="fw-bold">Web Design</h3>
                    <hr>
                    <p>Welcome to our web design service! We create stunning, user-friendly websites that leave a lasting impression. Whether you need a personal site or an e-commerce platform, we'll bring your ideas to life with creativity and technology. Get in touch today!</p>
                </div>

                <div class="col-lg-3 text-center">
                    <span><i class="fa-solid fa-pen-fancy fs-1 text-danger my-4"></i></span>
                    <h3 class="fw-bold">Graphic Design</h3>
                    <hr>
                    <p>Elevate your brand with our captivating graphic designs! From logos to banners, we create eye-catching visuals that leave a lasting impression. Let's make your brand stand out. Contact us today!</p>
                </div>

                <div class="col-lg-3 text-center">
                    <span><i class="fa-solid fa-chart-simple fs-1 text-danger my-4"></i></span>
                    <h3 class="fw-bold">Digital Marketing</h3>
                    <hr>
                    <p>Unlock your digital potential with our comprehensive digital marketing service! We specialize in SEO, PPC advertising, social media, content marketing, email campaigns, and data-driven analytics. Let's drive results together. Contact us today!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="designs">
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="/assets/img/1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/4.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/5.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/6.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/7.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/8.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <img src="/assets/img/9.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>